version: "3.8"
services:
  mosquitto:
    image: eclipse-mosquitto:2
    ports:
      - "1884:1883"
    volumes:
      - ./config/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
      - ./config/acl:/mosquitto/config/acl:ro
      - mosquitto-data:/mosquitto/data
    restart: unless-stopped

volumes:
  mosquitto-data:
